h1 { 
    color:blueviolet;
    text-align:center;
    font-family: cursive;
}
p { color: black; }
h3 { color:deeppink}
h2 {color:hotpink;}
ul {color:black; }
body{
    background-color: plum;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}